html {
  height: 100%;
  width: 100%;
}

.pricingSheet {
  margin-top: 20px; /* Add some spacing */
  border: 1px solid lightgray; /* Add a light gray border */
  padding: 10px; /* Add padding */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Add an inset box shadow */
}

.pricingSheet tr:nth-child(even) {
  background-color: lightgray;
}

.pricingSheet a {
  /* Style the anchor tags inside the table */
  text-decoration: none; /* Remove the default underline */
  color: blue; /* Set the link color */
  font-weight: bold; /* Make the link text bold */
  cursor: pointer; /* Change the cursor to a pointer */
}
.pricingSheet a:hover {
  /* Style the link on hover */
  color: darkblue; /* Change the color on hover */
  text-decoration: underline; /* Add an underline on hover */
}


.serviceList {
  list-style-type: none;
  padding: 0;
}
.serviceList li {
  margin-bottom: 10px;
}
.servicePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  z-index: 10;
  
  
}

.servicePopup h2, 
.servicePopup p {
  text-align: center;
}


.hidden {
  display: none;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.servicePopup.hidden {
  pointer-events: none; /* Disable pointer events when hidden */
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-top: 20px; /* Add some spacing from the main content */
}